[Desktop Entry]
Encoding=UTF-8
Name=MCT Core
Comment=MCT P2P Cryptocurrency
Comment[de]=Verbinde mit dem MCT peer-to-peer Netzwerk
Comment[fr]=MCT, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MCT, eşten eşe kriptografik sanal para birimi
Exec=mct-qt %u
Terminal=false
Type=Application
Icon=mct128
MimeType=x-scheme-handler/mct;
Categories=Office;Finance;
